@model IEnumerable<WonderCook.Models.Recipes>
@{
    ViewBag.Title = "Recipe";
}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

    <link href="~/Content/Site.css" rel="stylesheet" />

    @* copied stuff *@
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/0.11.1/typeahead.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/landingstyle.css">
    @* copied stuff *@
</head>
<body class="backgroundlanding">
    <div class="container-fluid grid-container" style=" margin-top: -03%; max-height: 200px; ">
        <div class="col ">
            <img src="~/Content/Images/2.png" style=" margin-top: -10%; min-width: 100px; max-width: 70%; border-radius: 50%; margin-left: 25%; " />

        </div>
        <div class="col searchbarWITHfont">
            <input class="searchbar searchbarfont" type="text" placeholder="Search for Recipes..."
                   style="
    margin-left: -7%;
" />
            <i class="fa fa-search fa-2xl iconsearch" style="color: rgb(206,39,39)" aria-hidden="true"></i>

        </div>
    </div>
    
    
    <table>
        @{

            int TotalRecipes = 0;
            foreach (var item in Model)
            {
                TotalRecipes++;
            }
        }
        @foreach (var item in Model)
        {


            if (item.recipe_id == 1)
            { //item.RecipesModel.recipe_id
        @Html.DisplayFor(modelItem => item.recipe_name, new { @class = "HeadingRecipe" })
                <h3>Total Recipe Count @TotalRecipes</h3>
                <tr>
                    <td>
                    </td>
                    <td>
                        <img src="@Html.DisplayFor(modelItem => item.image)" width="600px" height="400px" />
                        @*<span class="overflow1">@Html.DisplayFor(modelItem => item.image)</span>*@
                    </td>
                    <td>
                        <span class="overflow1">@Html.DisplayFor(modelItem => item.how_to_make) </span>
                    </td>
                </tr>
                @*<tr>
                    @foreach (var item2 in Model) {
                            if (item.IngredientsModel.Recipes_recipe_id == 1) {
                    <td>
                        <span class="overflow1">@Html.DisplayFor(modelItem =>item.IngredientsModel.ingredient )</span>
                    </td>
                    <td>
                        <span class="overflow1">@Html.DisplayFor(modelItem =>item.IngredientsModel.quantity) </span>
                    </td>}
                    }
                </tr>*@

            }
        }
    </table>

</body>